.document__title {
  margin: 0;
  font-size: 25px;
  font-weight: 500;
}
.doc__back {
  position: absolute;
  top: 50px;
  left: 50px;
  margin: 0;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.doc__back > p {
  margin: 0;
  margin-left: 4px;
}
.file {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(229, 231, 235);
}
.file > p {
  font-size: 0.875rem;
  margin: 0;
  padding: 1rem 2px;
  /* opacity: 0.95; */
}
.file > div:nth-child(4) {
  display: flex;
  height: max-content;
  background-color: rgba(219, 234, 254);
  color: rgb(0, 106, 255);
  padding: 0.5rem 10px;
  margin: 0.5rem 0;
  margin-left: auto;
  cursor: pointer;
}
.file > div:nth-child(4) > p {
  margin: 0;
  margin-left: 3px;
}
.file > input {
  width: 1rem;
}
.file > p:nth-child(2) {
  width: 60%;
  margin: 0;
  padding: 1rem 40px;
  text-align: left;
}

.document__modal {
  height: 400px;
}
.document__modal__content {
  display: flex;
  flex-direction: row;
  margin: 20px;
}
.document__modal__form {
  overflow-y: unset;
  padding-top: 1rem;
}
.document__modal__form > form {
  display: flex;
  flex-direction: row;
}
.document__modal__form > form > div:first-child {
  width: 70%;
}
.document__modal__form > form > div:first-child > input {
  width: 90%;
}
.document__modal__form > form > div:nth-child(2) {
  width: 30%;
}
.document__modal__form > form > div:nth-child(2) > select {
  outline: none;
  /* background: rgba(255, 255, 255, 0.4); */
  border: 1px solid #d6e0e1;
  border-radius: 0.3125rem;
  margin-bottom: 0.625rem;
  position: relative;
  width: 100%;
  font-size: 0.875rem;
  padding: 10px;
  /* color: #788699; */
  transition: all 0.2s ease-in;
}
.drop-file {
  height: 150px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #e8ebec;

  align-items: center;
  justify-content: center;
}
.drop-file > p {
  font-size: 14px;
}
.drop-file > p:nth-child(2) {
  padding: 7px 7px;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}
.doc-btn {
  margin: 0;
  margin-top: 20px;
}
.doc-btn > button:last-child {
  margin-bottom: 10px;
}
.verfication-pending {
  font-size: 12px;
  font-weight: 500;
  color: rgb(221, 49, 49);
  padding: 5px 10px;
  border-radius: 50px;
  margin-left: 3px;
  background-color: rgba(241, 166, 166, 0.753);
}
.verfication-done {
  font-size: 12px;
  font-weight: 500;
  color: rgb(15, 194, 15);
  padding: 5px 10px;
  border-radius: 50px;
  margin-left: 3px;
  background-color: rgba(166, 241, 179, 0.753);
}
@media (max-width: 415px) {
  .file > input {
    width: 2rem;
    margin: 1rem 2px;
  }
  .file > div:nth-child(4) > p {
    margin: 0;
    margin-left: 3px;
  }
  .document__modal__form > form {
    display: flex;
    flex-direction: column;
  }
  .document__modal__form > form > div:first-child,
  .document__modal__form > form > div:nth-child(2) {
    width: 100%;
  }
  .document__modal__form > form > div:first-child > input {
    width: 100%;
  }
  .document__modal__form > form > div:nth-child(2) > select {
    background-color: white;
  }
  .drop-file {
    height: 200px;
    margin-top: 30px;
    padding: 20px;
  }
  .drop-file > p {
    text-align: center;
  }

  .doc-btn {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 100px;
  }
}
