* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  scroll-behavior: smooth !important;
  font-family: Inter !important;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.fas {
  cursor: pointer;
}
body,
html {
  overflow-x: hidden !important;
  font-family: Walsheim, sans-serif;

  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}
