.thirdScreen {
  background-color: white;
  max-height: fit-content;
  min-height: 800px;
  width: 98.5vw;
  display: grid;
  place-items: center;
}
.thirdScreenInner {
  width: 1200px;
  max-height: fit-content;
  min-height: 800px;
}
.thirdScreenHeader {
  font-size: 250%;
  width: 100%;
  height: fit-content;
  margin: auto;
  text-align: center;
  margin: 5.8rem 0 1rem 0;
  font-weight: 700;
  color: black;
}
.thirdScreenBody {
  width: 100%;
  min-height: 400px;
  max-height: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.thirdScreenBodyComponent {
  width: 280px;
  color: black;
  margin: 2.5rem;
  overflow: hidden;
  height: 420px;
  margin-bottom: 5.8rem;
  display: flex;
  flex-direction: column;
}
.thirdScreenBodyComponentHeader {
  font-weight: 800;
  font-size: 1.3rem;
  width: 100%;
  text-align: left;
  height: fit-content;
  color: rgb(255, 66, 77);
  margin: 1rem 0 00 0;
}
.thirdScreenBodyComponentBody {
  text-align: center;
  line-height: 25px;
  font-size: 0.95rem;
  margin: 1rem 0 0 0;
  width: 100%;
}
.thirdScreenBodyIcon {
  width: 100%;
  height: 300px;
}
.thirdScreenImage {
  margin-bottom: 0.5rem;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  /* box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2); */
}
@media (max-width: 1100px) {
  .thirdScreenInner {
    width: 100vw;
    height: fit-content;
  }
  .thirdScreenBodyIcon {
    width: 100%;
    height: 100%;
  }
  .thirdScreenImage {
    width: 100%;
    height: 100%;
  }
  .thirdScreen {
    background-color: white;
    height: 600px;
    width: 98.5vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
@media (max-width: 1045px) {
  .thirdScreenInner {
    width: 100vw;
    height: fit-content;
  }
  .thirdScreenBodyIcon {
    width: 100%;
    height: 100%;
  }
  .thirdScreenImage {
    width: 100%;
    height: 100%;
  }
  .thirdScreen {
    background-color: white;
    height: 1100px;
    width: 98.5vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
@media (max-width: 785px) {
  .thirdScreenBodyComponent {
    width: 33.3%;
    height: 320px;
  }
}
@media (max-width: 495px) {
  .thirdScreenBody {
    flex-direction: row !important;
    height: fit-content;
  }
  .thirdScreenBodyComponent {
    width: 80%;
    height: 320px;
  }
  .thirdScreen {
    height: fit-content;
  }
  .thirdScreenInner {
    height: fit-content;
  }
}
